@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
:root {
  --background-color: #c5c3c6;
  --font-color: #46494b;
  --header-background-color: #4c5c68;
  --header-font-color: #b0e4db;
  --field-background-color: #ededee;
  --border-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", monospace;
}

body {
  background: var(--background-color);
}

.title {
  font-size: 3em;
  background: var(--header-background-color);
  color: var(--header-font-color);
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 3px solid var(--border-color);
  padding: 0.1em;
}

.message {
  font-size: 3em;
  color: var(--font-color);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  margin: 1rem;
  width: 30em;
  height: 30em;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--field-background-color);
}
.board div {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid black;
}

.restart {
  height: 4em;
  width: 10em;
  border-radius: 1em;
  outline: none;
  color: var(--header-font-color);
  background-color: var(--header-background-color);
  padding: 0.5rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 8em;
  user-select: none;
}
@media screen and (max-height: 736px) {
  .board {
    width: 20em;
    height: 20em;
  }

  .square {
    font-size: 5.33em;
  }
}

@media screen and (max-width: 600px) {
  .board {
    width: 22.5em;
    height: 22.5em;
  }

  .square {
    font-size: 6em;
  }
}

@media screen and (max-width: 374px) {
  .board {
    width: 15em;
    height: 15em;
  }

  .square {
    font-size: 4em;
  }
}
